.xyz
{
    margin-left: 650px;
}
.navig
{
    text-decoration: none;
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
    color: blueviolet;
}
.about
{
    font-size: 100px;
}




